.titulo>h2{
    color: blue;
    text-align: center;
    margin-top: 35px;
}   
.moldes{
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}
.moldes_slider1{
    background:rgb(54, 143, 207);
    color: white;
    font-size:1.25em;
    padding:4px 8px;
    width: 200px;
    font-family: 'lillyregular';
    border: 0; 
    float: left;
    margin-right: 90%;
}
.moldes_slider1:Hover{
     cursor: pointer;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
    background-color: #012adf;
    color: white;
}
.moldes_slider2{
    background:rgb(54, 143, 207);
    color: white;
    font-size:1.25em;
    padding:4px 8px;
    width: 200px;
    font-family: 'lillyregular';
    border: 0; 
    float: left;
    margin-right: 90%;
    margin-top: 1%;
}
.moldes_slider2:Hover{
     cursor: pointer;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
    background-color: #012adf;
    color: white;
}
.moldes_slider3{
    background:rgb(54, 143, 207);
    color: white;
    font-size:1.25em;
    padding:4px 8px;
    width: 200px;
    font-family: 'lillyregular';
    border: 0; 
    float: left;
    margin-right: 90%;
    margin-top: 1%;
}
.moldes_slider3:Hover{
     cursor: pointer;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
    background-color: #012adf;
    color: white;
}