/*Form Metros*/
.group 			  {
  position:relative;
  margin-bottom:45px;
  margin-top: 30px;
}
h3{
  color: #014AA8;
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus{ outline:none; }
/* LABEL ======================================= */
label 				 {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-8px;
  font-size:14px;
  color:#5264AE;
}
td{
  font-size: 12px;
  text-align: center;
}
.seleccion{
  width: 165px;
  padding: 5px;
}
.seleccion:hover{
  background-color: #66CDFD;
}
.seleccion1{
  width: 165px;
  padding: 5px;
}
.seleccion1:hover{
  background-color: #66CDFD;
}
.seleccion2{
  width: 165px;
  padding: 5px;
}
.seleccion2:hover{
  background-color: #66CDFD;
}
.activo{
  background-color: #66CDFD;
}
.sugerencia{
    list-style:none;
    width: 150px;
}
ul.sugerencia li{
    display:inline-block;
    position: relative;
    width: 100%;
    padding: 10px 15px;
}
ul.sugerencia li a {
    color:#000;
    display:block;
    text-decoration:none;
    text-align: center;
}
.C-141{background-image: url(../Imagenes/marron-c141.png);background-repeat: no-repeat;background-size: 100% auto}
.C-101{background-image: url(../Imagenes/gris-claro-c101.png);background-repeat: no-repeat;background-size: 100% auto}
.C-150{background-image: url(../Imagenes/azul-oscuro-c150.png);background-repeat: no-repeat;background-size: 100% auto}
.C-146{background-image: url(../Imagenes/verde-reseda-c146.png);background-repeat: no-repeat;background-size: 100% auto}
.C-112{background-image: url(../Imagenes/amarillo-claro-c112.png);background-repeat: no-repeat;background-size: 100% auto}
