
/* Acá empieza el menú principal de la página */ 
#header-est{
    width: 100%;
    background:  blue;
}

#btn-menu{
  display: none;
}


#header-est  label {
    
    display: none;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-right:1px solid #fff;

}
#header-est label:hover{
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
} 
.menu ul {
    margin:0;
    list-style: none;
    padding: 0;
    display: flex;
}
.menu li{
    
    background: blue;
    
}

.menu li a{
    display: block;
    padding: 15px;
    color: #fff ;
    text-decoration:none;
}
 /* fin menú principal de la página */ 


.titulo>h2 {
    color: blue;
    text-align: center;
    margin-top: 35px;
}
.titulo1>h2 {
    color: rgb(60, 168, 60);
    text-align: center;
    margin-top: 35px;
}
.titulo2>h2 {
    color: rgb(231, 143, 96);
    text-align: center;
    margin-top: 35px;
}

.titulo3>h2 {
    color: rgb(214, 21, 21);
    text-align: center;
    margin-top: 35px;
}
.titulo4>h2 {
    color: rgb(214, 201, 21);
    text-align: center;
    margin-top: 35px;
}

.moldes {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}

.moldes_slider1 {
    background: rgb(54, 143, 207);
    color: white;
    font-size: 1.25em;
    padding: 4px 8px;
    width: 200px;
    font-family: 'lillyregular';
    border: 0;
    float: left;
    margin-right: 90%;
    margin-bottom: 3%;
}

.moldes_slider1:Hover {
    cursor: pointer;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
    background-color: #012adf;
    color: white;
}

.moldes_slider2 {
    background: rgb(54, 143, 207);
    color: white;
    font-size: 1.25em;
    padding: 4px 8px;
    width: 200px;
    font-family: 'lillyregular';
    border: 0;
    float: left;
    margin-right: 90%;
    margin-top: 1%;
    margin-bottom: 3%;
}

.moldes_slider2:Hover {
    cursor: pointer;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
    background-color: #012adf;
    color: white;
}

.moldes_slider3 {
    background: rgb(54, 143, 207);
    color: white;
    font-size: 1.25em;
    padding: 4px 8px;
    width: 200px;
    font-family: 'lillyregular';
    border: 0;
    float: left;
    margin-right: 90%;
    margin-top: 1%;
    margin-bottom: 3%;
}

.moldes_slider3:Hover {
    cursor: pointer;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
    background-color: #012adf;
    color: white;
}

.check {
    opacity: 0.5;
    color: #996;
}

/* clases creadas */
.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
  }
  
  .bigicon {
    font-size: 35px;
    color: #36A0FF;
  }
  
  .caja {
    
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;  
    color: #ffffff;  
    font-size: 14px;  
    font-weight: 400;  
    text-align: center;  
    background: #224ec9;  
    margin: 0 0 10px;  
    overflow: hidden;  
    padding: 5px;  
    border-radius: 5px 0px 5px 0px;  
    -moz-border-radius: 5px 0px 5px 0px;  
    -webkit-border-radius: 5px 0px 5px 0px;  
    border: 2px solid #5878ca; 
  
  }
  
  .contenido {
  background: whitesmoke;
  padding: 200px;
  
  }
  